<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>About Managr</h2>
            <p>Managr is a web application that allows anyone to sign up and begin to manually build a list of names and emails, save them, and then access it from anywhere and anytime they want. Managr also allows you to send out emails to all your subscribers with the completion of a simple compose form.</p>
        </div>
    </div>
</section>